.form{
    min-height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 50px 0; */
}

.form input{
    background: transparent;
    height: 25px;
    border: 0;
    border-bottom: 1px solid rgb(115, 115, 115);
    outline: none;
    color: #fff;
    font-size: 18px;
}

.form input[type=date]{
    color: black;
}





@media screen and (max-width:700px){
    .form{
        height: 55vh;
    }
.form input{
    width: 100px;
}
    .job{
        width: 100%;
    }
}