.form{
    min-height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 50px 0; */
}

.form input{
    background: transparent;
    height: 25px;
    border: 0;
    border-bottom: 1px solid rgb(115, 115, 115);
    outline: none;
    color: #fff;
    font-size: 18px;
}

.form input[type=date]{
    color: black;
}


.job{
    /* background-color: var(--primary); */
    width: 50%;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background: #000;
    width: 100%;
    border: 1px solid white;
    border-radius: 8px;
    margin: 3px;
    padding: 20px;
    position: relative;
}

.image{
    width: 100%;
    overflow: hidden;
}

.data{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    padding: 10px;
}

.lable{
    color: gray;
}

.name{
    font-size: 30px;
    color: var(--primary);
    font-weight: 700;
}

.package{
    color: tomato;
}

.package, .location, .km, .by{
    padding-left: 10px;
    font-size: 18px;
}

.bond{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.date{
    position: absolute;
    right: 30px;
    top: 30px;
    padding: 5px;
    border-radius: 10px;
    color: rgb(5, 111, 5);
    background-color: rgb(158, 255, 195);
}

.side{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkbox{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0 0 10px;
}

.checkbox>input{
    height: 17px;
    width: 17px;
}

.buttons{
    display: flex;
    gap: 10px;
    position: absolute;
    right: 30px;
    bottom: 20px;
}





@media screen and (max-width:700px){
    .form{
        height: 55vh;
    }
    .job{
        width: 100%;
    }
}